<template>
  <div>
    <h2>
      Current frame annotations (click on sidebar items to select item on scene)
    </h2>
    <ul class="grid grid-cols-1">
      <li
        v-for="obj in frameAnnotations"
        :key="obj.annotationId"
        @click="setActiveAnnotation(obj.annotationId)"
        class="
          relative
          rounded-lg
          border border-gray-300
          bg-white
          px-2
          py-2
          mb-2
          shadow-sm
          cursor-pointer
          block
          space-x-1
          hover:border-gray-400
          focus-within:ring-2
          focus-within:ring-offset-2
          focus-within:ring-indigo-500
        "
      >
        <p>AnnotationId - {{ obj.annotationId }}</p>
        <p>ClipId - {{ obj.clipId }}</p>
        <div class="bg-gray-200 py-2 px-2">
          <span> Attributes:</span>
          <div v-for="(value, name, index) in obj.attributes" :key="index">
            {{ index }}.{{ name }}: {{ value }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  data() {
    return {
      ready: false,
    };
  },
  computed: {
    frameAnnotations() {
      return this.$store.state.annotations?.list?.filter((annotation) => {
        return (
          annotation.frameId === this.$store.state.annotations?.currentFrame
        );
      });
    },
  },
  methods: {
    setActiveAnnotation(annotationId) {
      this.$store.commit("annotations/setActiveAnnotation", annotationId);
    },
  },
  async mounted() {
    this.ready = true;
  },
  async beforeUnmount() {},
};
</script>
<style scoped>
.webgl {
  outline: none;
  width: 100%;
  height: 1000px;
  opacity: 0;
  transition: opacity 1s ease;
}
</style>