<template>
  <canvas class="webgl" ref="canvas" :style="{ opacity: ready ? 1 : 0 }" />
</template>

<script>
/* eslint-disable */
import * as THREE from "three";
import OrbitControls from "three-orbitcontrols";
export default {
  data() {
    return {
      ready: false,
      isShiftDown: false,
      camera: null,
      scene: null,
      renderer: null,
      controls: null,
      pointer: null,
      raycaster: null,
      group: null,
      defaultMaterial: null,
      activeMaterial: null,
    };
  },
  computed: {
    frameAnnotations() {
      return this.$store.state.annotations?.list?.filter((annotation) => {
        return (
          annotation.frameId === this.$store.state.annotations?.currentFrame
        );
      });
    },
    activeAnnotation() {
      return this.$store.state.annotations?.activeAnnotation;
    },
  },
  watch: {
    activeAnnotation: function (annotationId) {
      const box = this.group.getObjectByName(annotationId);
      if (!box) return;
      this.group.children.forEach((i) => {
        i.material = this.defaultMaterial;
      });

      box.material = this.activeMaterial;
      // this.scene.lookAt(box.position);
      // this.camera.up.set(1, 0, 0);
    },
    frameAnnotations: function (newAnnotations) {
      this.group.clear();
      newAnnotations.forEach((object) => {
        this.renderBox(object);
      });
    },
  },
  methods: {
    onWindowResize() {
      this.camera.aspect = window.innerWidth / window.innerHeight;
      this.camera.updateProjectionMatrix();

      this.renderer.setSize(
        this.$refs.canvas.clientWidth,
        this.$refs.canvas.clientHeight
      );

      this.render();
    },
    render() {
      this.renderer.render(this.scene, this.camera, this.$refs.canvas);
      this.controls.update();
    },
    renderBox(object) {
      const { x, y, z, height, width, length, roll, yaw, pitch } = object;
      const cubeGeo = new THREE.BoxGeometry(width, height, length);
      const voxel = new THREE.Mesh(cubeGeo, this.defaultMaterial);
      voxel.position.copy({ x, y, z });
      voxel.name = object.annotationId;
      voxel.position.divideScalar(50).floor().multiplyScalar(50);
      voxel.rotation.x = roll / Math.PI;
      voxel.rotation.y = yaw / Math.PI;
      voxel.rotation.z = pitch / Math.PI;
      this.group.add(voxel);
    },
    init() {
      this.camera = new THREE.PerspectiveCamera(
        30,
        this.$refs.canvas.clientWidth / this.$refs.canvas.clientHeight,
        100,
        2000
      );
      this.camera.position.set(100, 200, 350);
      this.camera.lookAt(0, 0, 0);

      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0xf0f0f0);

      // cubes
      this.defaultMaterial = new THREE.MeshLambertMaterial({
        color: 0xfeb74c,
        opacity: 0.5,
        transparent: true,
      });
      this.activeMaterial = new THREE.MeshLambertMaterial({
        color: 0xff0000,
        opacity: 0.8,
        transparent: true,
      });
      this.group = new THREE.Group();
      this.scene.add(this.group);
      this.frameAnnotations.forEach((object) => {
        this.renderBox(object);
      });

      // grid
      const gridHelper = new THREE.GridHelper(1000, 100);
      this.scene.add(gridHelper);

      //
      this.raycaster = new THREE.Raycaster();
      this.pointer = new THREE.Vector2();

      const geometry = new THREE.PlaneGeometry(1000, 1000);
      geometry.rotateX(-Math.PI / 2);

      // lights

      const ambientLight = new THREE.AmbientLight(0x606060);
      this.scene.add(ambientLight);

      const directionalLight = new THREE.DirectionalLight(0xffffff);
      directionalLight.position.set(1, 0.75, 0.5).normalize();
      this.scene.add(directionalLight);

      this.renderer = new THREE.WebGLRenderer({
        antialias: true,
        canvas: this.$refs.canvas,
      });
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(
        this.$refs.canvas.clientWidth,
        this.$refs.canvas.clientHeight
      );

      this.controls = new OrbitControls(this.camera, this.renderer.domElement);

      window.addEventListener("resize", this.onWindowResize);
    },
    animate() {
      requestAnimationFrame(this.animate);
      this.controls.update();
      this.render();
    },
  },
  async mounted() {
    this.ready = true;
    this.init();
    this.animate();
  },
  async beforeUnmount() {},
};
</script>
<style scoped>
.webgl {
  outline: none;
  width: 100%;
  height: 1000px;
  opacity: 0;
  transition: opacity 1s ease;
}
</style>