<template>
  <NuxtLink
    v-bind:to="to"
    class="
      text-white
      hover:bg-indigo-500
      px-3
      py-2
      rounded-md
      text-sm
      font-medium
      header-link
    "
    >{{ title }}</NuxtLink
  >
</template>
<style>
.header-link.router-link-active {
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}
</style>
<script>
export default {
  props: ["to", "title"],
};
</script>