<template>
  <nav class="bg-indigo-600">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img
              class="h-8 w-8"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-300.svg"
              alt="Workflow"
            />
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <HeaderLink to="/" title="Dashboard" />
              <HeaderLink to="/about" title="About" />
              <HeaderLink to="/annotations" title="Annotate 3d" />
              <HeaderLink to="/annotate2d" title="Annotate 2d image" />
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-3 relative"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>