<template>
  <div>
    <p>
      # At-Home challenge We would like you to work on the following at-home
      challenge. This exercise shouldn't take longer than 4 hours, don't pull an
      all-nighter for it. This is the first half of the on-site task, the second
      half you will be able to work on together with us. For this first half we
      are looking for production ready code, rather than a finished task. That
      means we would like you to focus on writing good code. Good code for us
      means it is well tested and easily maintainable as well as saved in a
      version control system. We use git but are fine with another system if you
      prefer it. ## Annotation Visualizer Attached to this mail you will find a
      file called `annotations.json` it contains a JSON array of so called
      Annotations, each one can be visualized as a 3D Box and represents an
      momentary glimps of an Object in time. We want you to build a tool to
      visualize these Annotations. There's a lot of data attached to each
      object, how and how much you visualize is in your own discretion. The end
      result has to run in the Chrome Browser. You can use any framework you
      like or none at all, as you prefer.
    </p>
    <pre>
## Some additional information about the data

    Coordinate system
          Y (height, yaw axis)
          ^                                  0-------1
          |                                 /|      /|
          |-----> X (length,               3-------2 |
         /           roll axis)            | 4-----|-5   facing this way (0 yaw)
       v                                   |/      |/   --------------------------->
       Z (width, pitch axis)               7-------6
    Angles are stored in degree
</pre
    >
  </div>
</template>
