<template>
  <div>
    <h1 class="font-bold">501 Not Implemented</h1>
    <pre>
        2D Image Tagging Tool
Motivation
One of the many annotation types customers frequently are looking for is tagging of full frame
images. This is relevant for development of specific sensor types (e.g. weather sensors) or data
selection for machine learning applications.
Image tagging means the labeller (the user annotating these image frames) assigns one or
more of a list of pre-specified tags to an image frame.
Such tags could be something like weather conditions, sun position, visibility of certain objects
or the general type of environment visible (e.g. tunnel, highway, inner city, …).
Your Task
Your task is to build a minimalistic web frontend that visualizes an image frame and offers the
labeler a list of tags from which he can select one or more tags for one image frame.
You are free to use whatever technology, frameworks or languages that help you solve the task.
We value clean code and prefer a clean solution that is good extendable code and very
maintainable over a finished solution.
Details
To make this task manageable we will focus on the tool to visualize the image frame and offer
the labeller a fixed set of input tags.
You will create a frontend to be used by an inexperienced labeler. For the purpose of this test
you do not need to worry about data storage (in memory is fine), connection to server logic or
anything else not happening in the frontend. Make sure that your code is written in a way that
this would be easy to extend.
The single image frame provided to you can be downloaded from here:
https://commons.wikimedia.org/wiki/File:St_Kilda_Road_start.jpg
This is the list of tags to be available to the labeler:
● Required:
○ Weather Condition: rainy, sunny, cloudy, foggy, snow, unclear
○ Lane Count: One, Two, Three, Four, Five, Six, Seven, Eight, unclear
● Optional:
○ Environment: Tunnel, highway, inner city, outer city, unclear
○ Corrupt Image: True, FalsePlease take some time to explain less obvious design choices. Don’t hesitate to ask if anything
is unclear.
The frontend does not need to use fancy graphics - we are looking for a minimal viable solution
that offers a good user experience.
Please design your application in a way that is extendable in the future to allow for the following
features:
●
●
●
●
●
Loading Video Clips with many frames instead of only single images from a web service
Navigate through frames in a clip
Tags and different tag combinations are also loaded from a web service
Annotation results are to be persistent on a web service
Zoom and panning the image
To be clear these features do not have to be implemented in this exercise yet but the
architecture should be built in a manner to facilitate implementation of these in the future.
Potential Pitfalls
●
Spending too much time on trying to get a certain technology working vs. building a
clean application skeleton
Possible Adjustments
●
●
If you want more of a challenge feel free to add additional complexity, for instance
allowing for zooming and panning the image.
If you’d like you can also provide mockups of how you would envision the UI/UX if this
tool was further developed
    </pre>
  </div>
</template>