<template>
  <section>
    <div>
      <h1 class="title">Annotating {{ id }} Frames :</h1>
      <p>
        click on frame number to change frame and render corresponding
        annotations
      </p>
      <ul class="flex space-x-4 overflow-x-auto">
        <li
          v-for="(frame, index) in frames"
          :key="index"
          @click="setFrame(frame)"
          class="
            text-gray-500
            hover:text-gray-700
            px-3
            py-2
            cursor-pointer
            hover:bg-indigo-600 hover:text-white
            font-medium
            text-sm
            rounded-md
          "
          v-bind:class="{ 'bg-indigo-600': currentFrame === frame }"
        >
          {{ parseInt(frame) }}
        </li>
      </ul>
      <div class="flex flex-wrap overflow-hidden">
        <div
          class="overflow-hidden w-full sm:w-full md:w-full lg:w-4/6 xl:w-4/6"
        >
          <Boxes />
        </div>

        <div
          class="
            w-full
            sm:w-full
            md:w-full
            lg:w-2/6
            xl:w-2/6
            px-0
            py-2
            sm:px-0
            md:px-0
            lg:px-4
            xl:px-4
          "
        >
          <AnnotationsSidebar />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  computed: {
    currentAnnotation() {
      return this.$store.state.annotations?.list?.filter((annotation) => {
        return (
          annotation.frameId === this.$store.state.annotations?.currentFrame
        );
      });
    },
    currentFrame() {
      return this.$store.state.annotations?.currentFrame;
    },
  },
  methods: {
    setFrame(frame) {
      this.$store.commit("annotations/setFrame", frame);
    },
  },
  asyncData({ params, error, $http }) {
    return $http
      .$get("/api/annotations/" + params.id)
      .then((res) => {
        const frames = res
          ?.reduce((acc, i) => {
            if (i.frameId && !acc.includes(i.frameId)) {
              acc.push(i.frameId);
            }
            return acc;
          }, [])
          .sort((a, b) => {
            return parseInt(a) - parseInt(b);
          });

        return { data: res, frames: frames, id: params.id };
      })
      .catch((e) => {
        console.log(e);
        error({ statusCode: 404, message: "Resource not found" });
      });
  },
  mounted() {
    this.$store.commit("annotations/set", this.data);
    this.$store.commit("annotations/setFrame", this.frames[0]);
  },
  head() {
    return {
      title: `Annotation`,
    };
  },
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.frames {
  display: flex;
}
</style>
