<template>
  <section class="container">
    <div>
      <h1 class="title">
        List of resource to annotate (click on list item title to open resource
        page)
      </h1>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div
          v-for="(resource, index) in resources"
          :key="index"
          class="
            relative
            rounded-lg
            border border-gray-300
            bg-white
            px-6
            py-5
            shadow-sm
            flex
            items-center
            space-x-3
            hover:border-gray-400
            focus-within:ring-2
            focus-within:ring-offset-2
            focus-within:ring-indigo-500
          "
        >
          <nuxt-link :to="{ name: 'annotations-id', params: { id: resource } }">
            {{ resource }}
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData({ $http }) {
    const data = await $http.$get("/api/annotations");
    const resources = data?.annotations.reduce((acc, i) => {
      if (i.resourceId && !acc.includes(i.resourceId)) {
        acc.push(i.resourceId);
      }
      return acc;
    }, []);
    return { resources: resources };
  },
  head() {
    return {
      title: "Annotations",
    };
  },
};
</script>

<style scoped>
.title {
  margin: 30px 0;
}
.users {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user {
  margin: 10px 0;
}
.button {
  display: inline-block;
  margin-top: 50px;
}
</style>
